.board__item {
    margin: 0 20px;
}
.board__header {
    font-weight: 600;
    font-size: 36px;
}

.board__display-data {
    background-color: gray;
    border-radius: 10px;
    box-shadow: 3px 2px 2px -1px black;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 74vh;
}

.board__task {
    background-color: rgb(130, 153, 219);
    box-shadow: 3px 2px 2px -1px rgb(98, 103, 106);
    border-radius: 4px;
    width: 200px;
    height: 110px;
    padding: 10px;
    cursor: grab;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.item__name {
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin: 5px 0;
}
.item__sp {
    color: rgba(0, 0, 0, 0.709);
    margin: 5px 0;
}
.item__description {
    word-wrap: break-word;
    font-size: 16px;
    margin: 5px 0;
}
