.header {
  background-color: gray;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 22px;
  font-weight: 600;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
  margin: 30px auto;
}
button {
  width: 140px;
  height: 70px;
  border-radius: 5%;
  font-size: 18px;
  background-color: rgb(165, 213, 215);
  cursor: pointer;
}
button:hover {
  background-color: white;
}

.modal__new-task {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input,textarea {
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  background-color: rgb(243, 228, 201);
  font-size: 15px;
}
input:focus, textarea:focus {
  background-color: white;
}